<h3>{{user.characterName}}</h3>
<div class="row">
  <div class="col-3">
    <h3 >Bard</h4>
    <ul class="list-group">
      {{#each leaderBoard.Bard}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Beastlord</h4>
    <ul class="list-group">
      {{#each leaderBoard.Beastlord}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Berserker</h4>
    <ul class="list-group">
      {{#each leaderBoard.Berserker}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Cleric</h4>
    <ul class="list-group">
      {{#each leaderBoard.Cleric}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Druid</h4>
    <ul class="list-group">
      {{#each leaderBoard.Druid}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h3 >Enchanter</h4>
    <ul class="list-group">
      {{#each leaderBoard.Enchanter}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Magician</h4>
    <ul class="list-group">
      {{#each leaderBoard.Magician}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Monk</h4>
    <ul class="list-group">
      {{#each leaderBoard.Monk}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Necromancer</h4>
    <ul class="list-group">
      {{#each leaderBoard.Necromancer}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h3 >Paladin</h4>
    <ul class="list-group">
      {{#each leaderBoard.Paladin}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Ranger</h4>
    <ul class="list-group">
      {{#each leaderBoard.Ranger}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Rogue</h4>
    <ul class="list-group">
      {{#each leaderBoard.Rogue}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Shadow Knight</h4>
    <ul class="list-group">
      {{#each leaderBoard.ShadowKnight}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3">
    <h3 >Shaman</h4>
    <ul class="list-group">
      {{#each leaderBoard.Shaman}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Warrior</h4>
    <ul class="list-group">
      {{#each leaderBoard.Warrior}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
  <div class="col-3">
    <h3 >Wizard</h4>
    <ul class="list-group">
      {{#each leaderBoard.Wizard}}
      <li class="list-group-item">
        <a href="/roster/{{this.id}}">{{this.characterName}}</a>
        <span class="float-right">{{this.currentPoints}}</span>
      </li>
      {{/each}}
    </ul>
    <br/>
  </div>
</div>
<div>
    <input class="js--toggle-filter" type="checkbox" name="show_alts" {{isChecked "show_alts" filters}}/> <label for="show_alts">Show Alts</label>
</div>
<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Positon</th>
      <th scope="col"><a href="/roster?o=n">Character</a></th>
      <th scope="col"><a href="/roster?o=c">Class</a></th>
      <th scope="col"><a href="/roster?o=r">Rank</a></th>
      <th scope="col"><a href="/roster?o=-p">Points</a></th>
      <th scope="col"><a href="/roster?o=-wp">Wasted Points</a></th>
      <th scope="col"><a href="/roster?o=-ra30">30 day</a></th>
      <th scope="col"><a href="/roster?o=-ra60">60 day</a></th>
      <th scope="col"><a href="/roster?o=-ra90">90 day</a></th>
      <th scope="col"><a href="/roster">ID</a></th>
    </tr>
  </thead>
  {{#each users}}
  <tr>
    <td>{{this.position}}</td>
    <td><a href="/roster/{{this.id}}">{{this.characterName}}</a></td>
    <td>{{this.className}}</td>
    <td>{{this.rank}}</td>
    <td>{{this.currentPoints}}</td>
    <td>{{this.wastedPoints}}</td>
    <td>{{ceil this.30day}}%</td>
    <td>{{ceil this.60day}}%</td>
    <td>{{ceil this.90day}}%</td>
    <td>{{this.id}}</td>
  </tr>
  {{/each}}
</table>