    <h3>{{user.characterName}}</h3>
    <div class="row">
        <div class="col-2 font-weight-bold">Class</div><div class="col-2">{{user.className}}</div>
        <div class="col-2 font-weight-bold">Current Points</div><div class="col-2">{{user.currentPoints}}</div>
        <div class="col-2 font-weight-bold">Earned Points</div><div class="col-2">{{user.earnedPoints}}</div>
        <div class="col-2 font-weight-bold">Spent Points</div><div class="col-2">{{user.spentPoints}}</div>
        <div class="col-2 font-weight-bold">Wasted Points</div><div class="col-2">{{user.wastedPoints}}</div>
        <div class="col-2 font-weight-bold">30 day</div><div class="col-2">{{ceil user.30day}}%</div>
        <div class="col-2 font-weight-bold">60 day</div><div class="col-2">{{ceil user.60day}}%</div>
        <div class="col-2 font-weight-bold">90 day</div><div class="col-2">{{ceil user.90day}}%</div>
        <div class="col-2 font-weight-bold">ID</div><div class="col-2">{{user.id}}</div>
    </div>
    <h4>Items</h4>
    <table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Cost</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  {{#each user.Items}}
  <tr>
    <td><a href="/raids/{{this.id}}">{{formatDate this.UserItemPurchase.createdAt}}</a></td>
    <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
    <td>{{this.UserItemPurchase.value}}</td>
    <td>{{this.id}}</td>
  </tr>
  {{/each}}
    <h4>Raids</h4>
    <table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Class</th>
      <th scope="col">Points</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  {{#each user.Raids}}
  <tr>
    <td><a href="/raids/{{this.id}}">{{formatDate this.when}}</a></td>
    <td><a href="/raids/{{this.id}}">{{this.note}}</a></td>
    <td><a href="/raids/{{this.id}}">{{this.value}}</a></td>
    <td><a href="/raids/{{this.id}}">{{this.id}}</a></td>
  </tr>
  {{/each}}
</table>